.git
.idea
node_modules
nbproject
admin/i18n/flat.txt
admin/i18n/*/flat.txt
lib/i18n/flat.txt
lib/i18n/*/flat.txt
/todo.txt
/*.njsproj
/.project
/.settings/
/typings/
/readme.txt
 .commitinfo
/.vscode/extensions.json
/bin/Microsoft.NodejsTools.WebRole.dll
/obj/Debug/
/package-lock.json.orig
