<!--
    ioBroker.vis weather Widget-Set

    version: "0.0.1"

    Copyright 10.2015-2016 René G. <info@rg-engineering.eu>
-->
<!-- here you can include so many css as you want -->
<!--<link rel="stylesheet" href="widgets/weather/css/style.css" />-->
<link href="widgets/weather/css/flot.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="widgets/weather/lib/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="widgets/weather/lib/js/flot/jquery.flot.time.js"></script>

<!-- doku for flot : -->
<!--  https://github.com/flot/flot/blob/master/API.md -->


<script type="text/javascript">
    'use strict';

    if (vis.editMode) {
        // Add words for basic widgets
        $.extend(true, systemDictionary, {
            "format_date": { "en": "Dateformat", "de": "Datumformat", "ru": "?????? ????" },
            "format_date_tooltip": {
                "en": "Dateformat",
                "de": "Datumformat",
                "ru": "?????? ????"
            },
            "1 second": { "en": "1 second", "de": "1 Sekunde", "ru": "1 ???????" },
            "10 seconds": { "en": "10 seconds", "de": "10 Sekunden", "ru": "10 ??????" },
            "30 seconds": { "en": "30 seconds", "de": "30 Sekunden", "ru": "30 ??????" },
            "1 minute": { "en": "1 minute", "de": "1 Minute", "ru": "1 ??????" },
            "2 minutes": { "en": "2 minutes", "de": "2 Minuten", "ru": "2 ??????" },
            "5 minutes": { "en": "5 minutes", "de": "5 Minuten", "ru": "5 ?????" },
            "10 minutes": { "en": "10 minutes", "de": "10 Minuten", "ru": "10 ?????" },
            "30 minutes": { "en": "30 minutes", "de": "30 Minuten", "ru": "30 ?????" },
            "1 hour": { "en": "1 hour", "de": "1 Stunde", "ru": "1 ???" },
            "2 hours": { "en": "2 hours", "de": "2 Stunden", "ru": "2 ????" },
            "4 hours": { "en": "4 hours", "de": "4 Stunden", "ru": "4 ????" },
            "8 hours": { "en": "8 hours", "de": "8 Stunden", "ru": "8 ?????" },
            "12 hours": { "en": "12 hours", "de": "12 Stunden", "ru": "12 ?????" },
            "24 hours": { "en": "24 hours", "de": "24 Stunden", "ru": "24 ????" },
            "instance": { "en": "weather instance", "de": "Wetterinstanz", "ru": "?????????" },
            "group_advanced": { "en": "Advanced", "de": "Erweitert", "ru": "?????????????" },
            "max_lines": { "en": "Max. event amount", "de": "max. Ereignisse", "ru": "????. ???-?? ???????" },
            "time_interval_min": { "en": "Not older than", "de": "Nicht älter als", "ru": "?? ????? ???" },
            "timeAsInterval": { "en": "Time as interval", "de": "Zeit als Intervall", "ru": "?????, ??? ????????" },
            "inverseOrder": { "en": "Inverse order", "de": "Reihenfolge invertieren", "ru": "???????? ???????" },
            "group_columns": { "en": "Columns", "de": "Spalten", "ru": "???????" },
            "table_attr": { "en": "Table CSS style", "de": "CSS Stil - Tabelle", "ru": "??????? - CSS ?????" },
            "header_attr": { "en": "Header CSS style", "de": "CSS Stil - Beschriftung", "ru": "????????? - CSS ?????" },
            "time_name": { "en": "Time - name", "de": "Zeit - Name", "ru": "????? - ???" },
            "time_hide": { "en": "Time - hide", "de": "Zeit - nicht zeigen", "ru": "????? - ??????" },
            "time_width": { "en": "Time - width", "de": "Zeit - Breite", "ru": "????? - ??????" },
            "time_attr": { "en": "Time - CSS style", "de": "Zeit - CSS Stil", "ru": "????? - CSS ?????" },
            "time_unit": { "en": "Time - suffix", "de": "Zeit - Suffix", "ru": "????? - ???????" },
            "val_name": { "en": "Val- name", "de": "Wert - Name", "ru": "???????? - ???" },
            "val_hide": { "en": "Val - hide", "de": "Wert - nicht zeigen", "ru": "???????? - ??????" },
            "val_width": { "en": "Val - width", "de": "Wert - Breite", "ru": "???????? - ??????" },
            "val_attr": { "en": "Val - CSS style", "de": "Wert - CSS Stil", "ru": "???????? - CSS ?????" },
            "val_unit": { "en": "Val - units", "de": "Wert - Einheit", "ru": "???????? - ???????" },
            "from_name": { "en": "From - name", "de": "Von - Name", "ru": "?? - ???" },
            "from_hide": { "en": "From - hide", "de": "Von - nicht zeigen", "ru": "?? - ??????" },
            "from_width": { "en": "From - width", "de": "Von - Breite", "ru": "?? - ??????" },
            "from_attr": { "en": "From - CSS style", "de": "Von - CSS Stil", "ru": "?? - CSS ?????" },
            "from_unit": { "en": "From - suffix", "de": "Von - Suffix", "ru": "?? - ???????" },
            "average": { "en": "average", "de": "Mittelwert", "ru": "???????" },
            "total": { "en": "total", "de": "Summe", "ru": "?????" },
            "line": { "en": "line", "de": "Linie", "ru": "?????" },
            "aggregate": { "en": "Aggregation", "de": "Aggregation", "ru": "??????????????" },
            "chartType": { "en": "chartType", "de": "Charttyp", "ru": "??? ???????" },
            "points": { "en": "points", "de": "Anzahl Werten", "ru": "???-?? ?????" },
            "time_interval": { "en": "Time interval", "de": "Zeitintervall", "ru": "????????" },
            "group_line": { "en": "Line", "de": "Linie-Chart", "ru": "?????" },
            "lineColor": { "en": "Line color", "de": "Linie-Farbe", "ru": "???? ?????" },
            "fillColor": { "en": "Fill color", "de": "Füllfarbe", "ru": "???? ???????" },
            "lineWidth": { "en": "Line width", "de": "Liniendicke", "ru": "?????? ?????" },
            "group_bar": { "en": "Bar", "de": "Bar-Chart", "ru": "???????" },
            "barColor": { "en": "Positive color", "de": "Positivfarbe", "ru": "???? ????????????? ????????" },
            "negBarColor": { "en": "negative color", "de": "Negativfarbe", "ru": "???? ????????????? ????????" },
            "zeroColor": { "en": "Zero color", "de": "0-Farbe", "ru": "???? ??????? ????????" },
            "barSpacing": { "en": "Bar's spacing", "de": "Abstand", "ru": "?????????? ????? ?????????" },
            "disableTooltips": { "en": "Hide tooltips", "de": "Kein Tooltips", "ru": "??? ?????????" },
            "history": { "en": "history", "de": "history", "ru": "history" }
        });
    }

    vis.binds.weather = {
        version: "0.0.2",
        showVersion: function () {
            if (vis.binds.weather.version) {
                console.log('Version vis-weather: ' + vis.binds.weather.version);
                vis.binds.weather.version = null;
            }
        },
        updateWidgets: [],
        updateIntervalTimer: null,
        startIntervalUpdate: function () {
            if (vis.editMode) return;
            if (vis.binds.weather.updateWidgets.length && !vis.binds.weather.updateIntervalTimer) {
                vis.binds.weather.updateIntervalTimer = setInterval(vis.binds.weather.updateInterval, 30000);
            } else if (!vis.binds.weather.updateWidgets.length && vis.binds.weather.updateIntervalTimer) {
                clearInterval(vis.binds.weather.updateIntervalTimer);
                vis.binds.weather.updateIntervalTimer = null;
            }
        },
        updateInterval: function () {
            for (var wid = 0; wid < vis.binds.weather.updateWidgets.length; wid++) {
                vis.binds.weather.eventList.update($('#' + vis.binds.weather.updateWidgets[wid]).find('.vis-widget-body'));
            }
        },

        eventList: {
            intervals: {
                '1 second': 1000,
                '10 seconds': 10000,
                '30 seconds': 30000,
                '1 minute': 60000,
                '2 minutes': 120000,
                '5 minutes': 300000,
                '10 minutes': 600000,
                '30 minutes': 1800000,
                '1 hour': 3600000,
                '2 hours': 7200000,
                '4 hours': 14400000,
                '8 hours': 28800000,
                '12 hours': 43200000,
                '24 hours': 86400000

            },
            header: function (data) {
                var text = data.title ? '<div style="text-align: center; width: 100%;' + (data.title_attr || '') + '">' + data.title + '</div>' : '';
                text += '<table class="vis-no-spaces">\n';
                var table_attr = (data.table_attr || '');
                var attrTime = (data.time_width ? 'width: ' + data.time_width + 'px;' : '');
                var attrVal = (data.val_width ? 'width: ' + data.val_width + 'px;' : '');
                var attrFrom = (data.from_width ? 'width: ' + data.from_width + 'px;' : '');

                if ((!data.time_hide && data.time_name) ||
                    (!data.val_hide && data.val_name) ||
                    (!data.from_hide && data.from_name)) {
                    text += '<tr style="' + (data.header_attr || '') + ';' + table_attr + '">';
                    if (!data.time_hide) text += '<th style="' + attrTime + table_attr + '">' + (data.time_name || '') + '</th>';
                    if (!data.val_hide) text += '<th style="' + attrVal + table_attr + '">' + (data.val_name || '') + '</th>';
                    if (!data.from_hide) text += '<th style="' + attrFrom + table_attr + '">' + (data.time_name || '') + '</th>';
                    attrTime = '';
                    attrVal = '';
                    attrFrom = '';
                }
                return { text: text, attrTime: attrTime, attrVal: attrVal, attrFrom: attrFrom, table_attr: table_attr };
            },

           
        },
        tempandrain: {
            update: function ($div) {
                var data = $div.data('options');

                if (!data.instance) {
                    console.log("keine instanz " + data.chartType);

                    $div.html("<br> <center> <font color='red'> no instance </font> </center></br>");
                } else {
                    //warum wir das brauchen, verstehe ich noch nicht...
                    //ist eigentlich nur dummy...
                    vis.getHistory(data.oid, {
                        instance: data.instance,
                        count: parseInt(data.points, 10) || 10,
                        aggregate: data.aggregate || 'average',
                        start: vis.binds.weather.eventList.intervals[data.time_interval] ? new Date().getTime() - vis.binds.weather.eventList.intervals[data.time_interval] : undefined,
                        end: new Date().getTime() + 5000,
                        timeout: 1000
                    }, function (err, result) {
                        var data = $div.data('options');
                        if (err) console.log(err);

                        console.log("ShowChart temp/rain/cloud begin");

                        var dp_temp = "Temperature";
                        var dp_rain = "Rain";
                        var dp_cloud = "Clouds";

                        var dp = "hour";
                        var values_rain = [];
                        var maxY_rain = -99;
                        var minY_rain = 100;
                        var values_temp = [];
                        var maxY_temp = -99;
                        var minY_temp = 100;
                        var values_cloud = [];
                        var maxY_cloud = 100;
                        var minY_cloud = 0;
                        var cnt = 0;

                        


                        //get date
                        var dateoid = data.instance + ".NextDaysDetailed.0d.date";

                        //test only
                        var val_temp_id = vis.states.attr(dateoid + '.val');
                        if (val_temp_id === undefined || val_temp_id === null || val_temp_id === '') {
                            val_temp_id = '';
                            console.log("test failed " + val_temp_id);
                        } else {
                            val_temp_id = val_temp_id.toString();
                            console.log("test " + val_temp_id);
                        }


                        var sDate = vis.states[dateoid + '.val'];
                        console.log(dateoid + " date was " + sDate + " vis " + vis + " states " + vis.states);
                        var day = parseInt(sDate.substring(6, 8));
                        var month = parseInt(sDate.substring(4, 6));
                        var year = parseInt(sDate.substring(0, 4));

                        month--;

                        //console.log("date is " + day +"."+month+"."+year);
                        var lastHour = -1;
                        for (var d = 0; d < 5; d++) {

                            for (var p = 0; p < 8; p++) {
                                //get rain values
                                var oid_rain = data.instance + ".NextDaysDetailed." + d + "d." + p + "h." + dp_rain;
                                var val_rain = parseInt(vis.states[oid_rain + '.val']);
                                if (val_rain > maxY_rain) maxY_rain = val_rain;
                                if (val_rain < minY_rain) minY_rain = val_rain;

                                //get temperature values
                                var oid_temp = data.instance + ".NextDaysDetailed." + d + "d." + p + "h." + dp_temp;
                                var val_temp = parseInt(vis.states[oid_temp + '.val']);
                                if (val_temp > maxY_temp) maxY_temp = val_temp;
                                if (val_temp < minY_temp) minY_temp = val_temp;

                                //get cloud values
                                var oid_cloud = data.instance + ".NextDaysDetailed." + d + "d." + p + "h." + dp_cloud;
                                var val = parseInt(vis.states[oid_cloud + '.val']);
                                var val_cloud = 0;
                                if (data.sunorcloud == "sun") { //invert value 
                                    val_cloud = 100 - val;
                                }
                                else {
                                    val_cloud = val;
                                }

                                // get time
                                var oid = data.instance + ".NextDaysDetailed." + d + "d." + p + "h." + dp;
                                var sTime = vis.states[oid + '.val'];

                                var hours = parseInt(sTime.substring(0, 2));
                                var minutes = parseInt(sTime.substring(3, 5));

                                var oDate = new Date(year, month, day, hours, minutes, 0, 0);

                                //check next day
                                //fehlt noch: besser siehe unten
                                if (hours < lastHour) {
                                    oDate.setDate(oDate.getDate() + 1);
                                    day = oDate.getUTCDate();
                                    month = oDate.getUTCMonth();
                                    year = oDate.getUTCFullYear();
                                }
                                lastHour = hours;
                                console.log(oid_rain + " : " + val_rain + " " + oid_temp + " : " + val_temp + " " + hours + "::" + minutes + " " + day + "." + month + "." + year);

                                //need time in UTC

                                var date = oDate.getTime();
                                //console.log(date);
                                values_rain.push([date, val_rain]);
                                values_temp.push([date, val_temp]);
                                values_cloud.push([date, val_cloud]);

                                cnt++;
                            }
                        }

                        //maxY += 0.1 * maxY;
                        //minY -= 0.1 * minY;

                        console.log("start " + maxY_rain + " / " + minY_rain + " " + maxY_temp + " / " + minY_temp);
                        var barwidth = 1000 * 60 * 60 * 2; //2h
                        console.log("barwidth = " + barwidth); // in ms
                        

                        $.plot($div,
                            [{
                                data: data.tempvisible ? values_temp : {},
                                color: data.tempcolor,
                                xaxis: 1,
                                yaxis: 1,
                                lines: { show: data.tempchartType == "line" ? true : false, fill: false },
                                bars:
                                    {
                                        show: data.tempchartType == "bar" ? true : false,
                                        barWidth: barwidth
                                    }
                            },
                            {
                                data: data.rainvisible ? values_rain : {},
                                color: data.raincolor,
                                xaxis: 1,
                                yaxis: 2,
                                lines:{ show: data.rainchartType == "line" ? true : false, fill: false },
                                bars:
                                    {
                                        show: data.rainchartType == "bar" ? true : false,
                                        barWidth: barwidth
                                    }
                            },
                            {
                                data: data.cloudsvisible ? values_cloud : {},
                                color: data.cloudcolor,
                                xaxis: 1,
                                yaxis: 3,
                                lines: { show: data.cloudschartType == "line" ? true : false, fill: false },
                                bars:
                                    {
                                        show: data.cloudschartType == "bar" ? true : false,
                                        barWidth: barwidth
                                    }
                            }
                            ],
                            {

                                xaxes: //xaxis mit [] geht nicht...!!!
                                  [{//das folgende geht
                                      show: data.withxaxix , 
                                      mode: "time",
                                      tickLength: 5,
                                      timeformat: "%d.%b %H:%M",
                                      monthNames: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"]
                                  }],
                                yaxes: //yaxis mit [] geht nicht...!!!                              
                                    [{ //das folgende geht
                                      show: data.tempvisible ,
                                      max: maxY_temp,
                                      min: minY_temp,
                                      alignTicksWithAxis: 1,
                                      position: 'left',
                                      ticks: 3
                                  },
                                  {
                                      show: data.rainvisible ,
                                      max: maxY_rain,
                                      min: minY_rain,
                                      alignTicksWithAxis:2,
                                      position: 'right',
                                      ticks: 3
                                  },
                                  {
                                      show: data.cloudsvisible ,
                                      max: maxY_cloud,
                                      min: minY_cloud,
                                      alignTicksWithAxis: 3,
                                      position: 'right',
                                      ticks: 3
                                  }],
                                grid:
                                  {
                                      //Farben einstellen fehlt noch
                                      backgroundColor: { colors: ["#fff", "#eee"] },
                                      borderWidth: {
                                          top: 1,
                                          right: 1,
                                          bottom: 2,
                                          left: 2
                                      },
                                      //fehlt noch
                                      //markings: nextDay
                                  }
                            }
                            );


                    });
                }
            },
            init: function (el, view, data) {
                var $div = $(el);
                console.log("temp and rain init " + $div);
                var _data = {};
                for (var s in data) {

                    if (s[0] !== '_' && data.hasOwnProperty(s) && typeof data[s] !== 'object' && typeof data[s] !== 'function') {
                        _data[s] = data[s];

                    }
                }
                data = null;
                $div.data('options', _data);


                if (_data.oid && _data.instance) {

                    //fehlt noch
                    console.log("bind to " + _data.oid + '.val')

                    vis.states.bind(_data.oid + '.val', function () {

                        console.log("on bind " + _data.oid + '.val')

                        vis.binds.weather.tempandrain.update($div);
                    });
                    // update every x seconds
                    if (!vis.editMode) {
                        $div.data('timer', setInterval(function () {
                            vis.binds.weather.tempandrain.update($div);
                        }, parseInt(vis.binds.weather.eventList.intervals[_data.time_interval] / (parseInt(_data.points, 10) || 10), 10)));
                    }
                }
                vis.binds.weather.tempandrain.update($div);
                if (vis.editMode) {
                    console.log("flot version " + $.plot.version);

                }
            }
        },
    };

    if (vis.editMode) {
        vis.binds.weather.onHidChanged = function (widgetID, view, newId, fields) {
            var obj = vis.objects[newId];
            if (!obj || !obj.common) return null;
            var changed = [];
            var actualInstance = vis.views[view].widgets[widgetID].data.instance;
            // Check if actual instance still in options
            var firstInstance = '';
            var found = false;
            var custom = obj.common.custom || obj.common.history;
            for (var h in custom) {
                if (!custom.hasOwnProperty(h)) continue;
                if (custom[h].enabled) {
                    if (firstInstance === '') firstInstance = h;
                    if (h === actualInstance) {
                        found = true;
                        break;
                    }
                }
            }
            if (!found) {
                changed.push('instance');
                vis.views[view].widgets[widgetID].data.instance = firstInstance;
            }
            return changed.length ? changed : null;
        };
    }

    vis.binds.weather.showVersion();

</script>



<script id="tplWeatherShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="history"
        data-vis-name="Weather"
        data-vis-type="history"
        data-vis-update-style="true"
        data-vis-prev='<img src="widgets/weather/img/Prev_tplWeather.png"></img>'
        data-vis-attrs="instance/daswetter;"
        data-vis-attrs0="time_interval[30 minutes]/select,1 second,10 seconds,30 seconds,1 minute,2 minutes,5 minutes,10 minutes,30 minutes,1 hour,2 hours,4 hours,8 hours,12 hours,24 hours;withxaxix[true]/checkbox;"
        data-vis-attrs1="group.rain;rainvisible[true]/checkbox;rainchartType[bar]/select,line,bar;raincolor[#1d0ed8]/color;"
        data-vis-attrs2="group.temperature;tempvisible[true]/checkbox;tempchartType[line]/select,line,bar;tempcolor[#00b3ac]/color;"
        data-vis-attrs3="group.clouds;cloudsvisible/checkbox;cloudschartType[bar]/select,line,bar; sunorcloud[sun]/select,sun,clouds;cloudcolor[#f6ef3c]/color;"
>

    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow: hidden; width: 210px; height: 170px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" <%= (el1) -> vis.binds.weather.tempandrain.init(el1, this.view, this.data) %>></div>
        
    </div>

</script>

