.weather-class {
    font-style: italic;
}
@font-face {
    font-family: 'CF'; 
    src: url('Cicle Fina.ttf');
}

.weather-ul
{
    margin:0px;
    padding:0px;
    list-style-type:none;
    -webkit-backface-visibility: hidden; backface-visibility: hidden;
}

.weather-var_nav
{
    position:relative;
    background:#e2e1f4;
    width:361px;
    height:70px;
    margin-bottom:50px;
}

.weather-link_bg
{
    width:70px;
    height:70px;
    position:absolute;

    background:#7A56A0;
    color:white;

    z-index:2;
}

.weather-link_bg-i
{
    position:relative;
}

.communicate-link_title
{
    position:absolute;
    width:100%;
    z-index:3;
    color:#7A56A0;
}
.weather-link_title:hover .icon
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}

.weather-var_nav:hover .link_bg
{
    width:100%;
    background:#E01B6A;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.weather-var_nav:hover
{
    font-weight:bold;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out;
}

.weather-icon
{
    position:relative;
    width:70px;
    height:70px;
    text-align:center;
    color:white;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    float:left;
    transition:all .5s ease-in-out;
    float:left;
}

.weather-left    { text-align:left; }
.weather-right   { text-align: right; }
.weather-center  { text-align: center; }
.weather-justify { text-align: justify; }
.weather-start   { text-align: start; }
.weather-img {
    margin-top: 0.7em;
}
.weather-p {
    margin-top: 0.7em;
    padding-left: 80px;
}